apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: syncthing
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls.certresolver: myresolver
  labels:
    public: "true"
spec:
  tls:
    - hosts:
        - syncthing.immortalkeep.com
      secretName: syncthing-ingress-tls
  rules:
  - host: syncthing.immortalkeep.com
    http:
      paths:
      - pathType: Prefix
        path: /
        backend:
          service:
            name: syncthing
            port:
              number: 8384

---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRouteTCP
metadata:
  name: syncthing-tcp
  labels:
    public: "true"
spec:
  entryPoints:
    - syncthing-tcp
  routes:
    - match: HostSNI(`*`)
      services:
        - name: syncthing
          port: 22000

---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRouteUDP
metadata:
  name: syncthing-udp
  labels:
    public: "true"
spec:
  entryPoints:
    - syncthing-udp
  routes:
    - services:
      - name: syncthing
        port: 22000

---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRouteUDP
metadata:
  name: syncthing-lan
spec:
  entryPoints:
    - syncthing-lan
  routes:
    - services:
      - name: syncthing
        port: 21027
