apiVersion: apps/v1
kind: Deployment
metadata:
  name: photoprism
  labels:
    app: photoprism
spec:
  selector:
    matchLabels:
      app: photoprism
  template:
    metadata:
      labels:
        app: photoprism
    spec:
      containers:
        - name: photoprism
          image: photoprism/photoprism:240915 # {"$imagepolicy": "apps:photoprism"}
          env:
            - name: PHOTOPRISM_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: photoprism
                  key: admin_password
            - name: PHOTOPRISM_SITE_URL
              value: https://photoprism.immortalkeep.com/
            - name: PHOTOPRISM_AUTO_IMPORT
              value: 60
            - name: PHOTOPRISM_DATABASE_DRIVER
              value: mysql
            - name: PHOTOPRISM_DATABASE_SERVER
              value: "localhost:3306"
            - name: PHOTOPRISM_DATABASE_NAME
              value: photoprism
            - name: PHOTOPRISM_DATABASE_USER
              value: photoprism
            - name: PHOTOPRISM_DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: photoprism
                  key: database_password
            - name: PHOTOPRISM_DETECT_NSFW
              value: "true"
          ports:
            - containerPort: 2342
          resources:
            limits:
              cpu: "300m"
          volumeMounts:
            - mountPath: /photoprism/storage
              name: data
            - mountPath: /photoprism/import
              name: photos
              subPath: photoprism/import
            - mountPath: /photoprism/originals
              name: photos
              subPath: photoprism/originals
        - name: database
          image: mariadb:10.11.9 # {"$imagepolicy": "apps:photoprism-mariadb"}
          args:
            - "--innodb-buffer-pool-size=128M"
            - "--transaction-isolation=READ-COMMITTED"
            - "--character-set-server=utf8mb4"
            - "--collation-server=utf8mb4_unicode_ci"
            - "--max-connections=512"
            - "--innodb-rollback-on-timeout=OFF"
            - "--innodb-lock-wait-timeout=120"
          env:
            - name: MARIADB_AUTO_UPGRADE
              value: "true"
            - name: MARIADB_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: photoprism
                  key: database_password
            - name: MARIADB_DATABASE
              value: photoprism
            - name: MARIADB_USER
              value: photoprism
            - name: MARIADB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: photoprism
                  key: database_password
          ports:
            - containerPort: 3306
          volumeMounts:
            - mountPath: /var/lib/mysql
              name: database
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: photoprism-data-pvc
        - name: database
          persistentVolumeClaim:
            claimName: photoprism-database-pvc
        - name: photos
          persistentVolumeClaim:
            claimName: photos-pvc
