apiVersion: apps/v1
kind: Deployment
metadata:
  name: headscale
  labels:
    app: headscale
spec:
  selector:
    matchLabels:
      app: headscale
  template:
    metadata:
      labels:
        app: headscale
    spec:
      containers:
        - name: headscale
          image: headscale/headscale:v0.28.0 # {"$imagepolicy": "apps:headscale"}
          command: ["headscale", "serve"]
          ports:
            - containerPort: 8080
          volumeMounts:
            - mountPath: /etc/headscale
              name: headscale-config
              readOnly: true
            - mountPath: /var/lib/headscale
              name: headscale-data
        - name: headplane
          image: ghcr.io/tale/headplane:0.6.1 # {"$imagepolicy": "apps:headplane"}
          ports:
            - containerPort: 3000
          volumeMounts:
            - mountPath: /etc/headplane
              name: headplane-config
              readOnly: true
            - mountPath: /var/lib/headplane
              name: headplane-data
            - mountPath: /secrets
              name: headplane-secrets
              readOnly: true
            - mountPath: /etc/headscale
              name: headscale-config
              readOnly: true
      volumes:
        - name: headscale-config
          configMap:
            name: headscale
        - name: headscale-data
          persistentVolumeClaim:
            claimName: headscale-data-pvc
        - name: headplane-config
          configMap:
            name: headplane
        - name: headplane-data
          persistentVolumeClaim:
            claimName: headplane-data-pvc
        - name: headplane-secrets
          secret:
            secretName: headplane-secrets
