# Note: the pod generally needs to be manually terminated, to free up the
# available "cdrom" resources for the new pod to be scheduled.  There might
# be a way to tell fluxcd to kill first then launch, but I haven't found it
apiVersion: apps/v1
kind: Deployment
metadata:
  name: automatic-ripping-machine
  labels:
    app: automatic-ripping-machine
spec:
  selector:
    matchLabels:
      app: automatic-ripping-machine
  template:
    metadata:
      labels:
        app: automatic-ripping-machine
    spec:
      initContainers:
        - name: config-injector
          image: bhgedigital/envsubst
          args: ["sh", "-c", 'cd source; for f in *; do cat "$f" | envsubst "$(printf ''${%s} '' $(env | cut -d''='' -f1))" > /destination/"$f"; done']
          envFrom:
            - secretRef:
                name: automatic-ripping-machine-api-keys
          volumeMounts:
            - mountPath: /source
              name: config
            - mountPath: /destination
              name: config-data
      containers:
        - name: automatic-ripping-machine
          image: automaticrippingmachine/automatic-ripping-machine:2.21.0 # {"$imagepolicy": "apps:automatic-ripping-machine"}
          ports:
            - containerPort: 8080
          resources:
            limits:
              devic.es/cdrom: 1
              cpu: 6000m
              memory: 12Gi
            requests:
              cpu: 500m
              memory: 1.5Gi
          volumeMounts:
            - mountPath: /etc/arm/config
              name: config-data
            # 'config-data` is the properly parsed source, also mount the plain `config` volume so that the pod restarts when it's updated
            - mountPath: /tmp/config
              name: config
            #- mountPath: /lib/udev/rules.d/51-docker-arm.rules
            #  name: init-scripts
            #  subPath: 51-docker-arm.rules
            #- mountPath: /etc/service/armui/run
            #  name: init-scripts
            #  subPath: armui.sh
            #- mountPath: /etc/my_init.d/arm_user_files_setup.sh
            #  name: init-scripts
            #  subPath: arm_user_files_setup.sh
            - mountPath: /root/db
              name: data
              subPath: db
            - mountPath: /root/logs
              name: data
              subPath: logs
            - mountPath: /root/media
              name: video
              subPath: import/automatic-ripping-machine
            - mountPath: /root/audio
              name: audio
              subPath: import
      volumes:
        - name: audio
          persistentVolumeClaim:
            claimName: audio-rw-pvc
        - name: config
          configMap:
            name: automatic-ripping-machine
        - name: config-data
          emptyDir: {}
        # TODO: temporarily disabling my custom init scripts, because it's been almost two years since I wrote them and I don't know if they're necessary anymore
        #- name: init-scripts
        #  configMap:
        #    name: automatic-ripping-machine-init-scripts
        #    defaultMode: 0777
        #    items:
        #      - key: arm_user_files_setup.sh
        #        path: arm_user_files_setup.sh
        #      - key: 51-docker-arm.rules
        #        path: 51-docker-arm.rules
        #      - key: armui.sh
        #        path: armui.sh
        - name: data
          persistentVolumeClaim:
            claimName: automatic-ripping-machine-pvc
        - name: video
          persistentVolumeClaim:
            claimName: video-pvc
