---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: jetstack
spec:
  interval: 24h
  url: https://charts.jetstack.io

---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cert-manager
spec:
  interval: 15m
  chart:
    spec:
      chart: cert-manager
      version: 1.12.2
      sourceRef:
        kind: HelmRepository
        name: jetstack
      interval: 15m
        #  install:
        #    crds: CreateReplace
        #  upgrade:
        #    crds: CreateReplace
  values:
    installCRDs: true
    promtetheus:
      servicemonitor:
        enabled: true


---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt
spec:
  acme:
    email: willy@weiskopf.me
    server: https://acme-v02.api.letsencrypt.org/directory
    #server: https://acme-staging-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: letsencrypt-account-key
    solvers:
      - http01:
          ingress:
            ingressClassName: ingress-nginx-external
