apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: HelmRepository
metadata:
  name: coredns
spec:
  interval: 24h
  url: https://coredns.github.io/helm


---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: coredns
spec:
  interval: 5m
  chart:
    spec:
      chart: coredns
      sourceRef:
        kind: HelmRepository
        name: coredns
      interval: 5m
  values:
    isClusterService: false
    prometheus:
      service:
        enabled: true
    service:
      loadBalancerIP: "192.168.1.202"
    serviceType: LoadBalancer
    servers:
      - zones:
        - zone: .
        port: 53
        plugins:
          - name: errors
          - name: health
            configBlock: |-
              lameduck 5s
          - name: ready
          # TODO: left out the kubernetes section deliberately, should it go in?
          - name: prometheus
            parameters: 0.0.0.0:9153
          - name: cache
            parameters: 30
          - name: loop
          - name: reload
          - name: loadbalance
          - name: forward
            parameters: . tls://1.1.1.1
            configBlock: |-
              tls_servername cloudflare-dns.com
              health_check 5s
            # TODO: maybe rewrite all immortalkeep.com to immortalkeep.local for applications on the LAN, prevents hairpinning. https://coredns.io/2017/05/08/custom-dns-entries-for-kubernetes/
      - zones:
        - zone: immortalkeep.com
        port: 53
        plugins:
          # TODO: how many of these plugins are worth keeping?
          - name: errors
          - name: health
            configBlock: |-
              lameduck 5s
          - name: file
            parameters: /etc/coredns/db.immortalkeep.com
          - name: ready
          - name: prometheus
            parameters: 0.0.0.0:9153
          - name: reload
    zoneFiles:
      - filename: db.immortalkeep.com
        domain: immortalkeep.com
        contents: |-
          $ORIGIN immortalkeep.com.  ; designates the start of this zone file in the namespace
          $TTL 1h               ; default expiration time of all resource records without their own TTL value

          ; =============================== Resource Records ==============================

          @                    IN  SOA     ns.immortalkeep.com. hostmaster.immortalkeep.com. (
                                               2023012801        ; Serial
                                               1d                ; Refresh
                                               2h                ; Retry
                                               4w                ; Expire
                                               1h)               ; Minimum TTL
          @                    IN  A       192.168.1.203         ; Local IPv4 address for immortalkeep.com.
          @                    IN  NS      ns.immortalkeep.com.  ; Name server for immortalkeep.com.
          ns                   IN  CNAME   @                     ; Alias for ns.immortalkeep.com
          fileserver           IN  A       192.168.1.105
          *.immortalkeep.com.  IN  A       192.168.1.203
