apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: csi-driver-smb
spec:
  interval: 5m  # 24h
  url: https://raw.githubusercontent.com/kubernetes-csi/csi-driver-smb/master/charts


---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: csi-driver-smb
spec:
  interval: 5m
  chart:
    spec:
      chart: csi-driver-smb
      sourceRef:
        kind: HelmRepository
        name: csi-driver-smb
      interval: 5m
