# Note: it's also possible that this all could have been done by mounting raw block devices from hostpaths
# https://kubernetes.io/blog/2019/03/07/raw-block-volume-support-to-beta/
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: generic-device-plugin
  labels:
    app.kubernetes.io/name: generic-device-plugin
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: generic-device-plugin
  template:
    metadata:
      labels:
        app.kubernetes.io/name: generic-device-plugin
    spec:
      priorityClassName: system-node-critical
      tolerations:
      - operator: "Exists"
        effect: "NoExecute"
      - operator: "Exists"
        effect: "NoSchedule"
      containers:
      - image: squat/generic-device-plugin:cf81aaca66877e74e54c304dfe844dd6abc8826e
        args:
        - --device
        - |
          name: cdrom
          groups:
            - paths:
                - path: /dev/sr0
                - path: /dev/sg0
        name: generic-device-plugin
        resources:
          requests:
            cpu: 50m
            memory: 10Mi
          limits:
            cpu: 50m
            memory: 20Mi
        ports:
        - containerPort: 8080
          name: http
        securityContext:
          privileged: true
        volumeMounts:
        - name: device-plugin
          mountPath: /var/lib/kubelet/device-plugins
        - name: dev
          mountPath: /dev
      volumes:
      - name: device-plugin
        hostPath:
          path: /var/lib/kubelet/device-plugins
      - name: dev
        hostPath:
          path: /dev
  updateStrategy:
    type: RollingUpdate


---
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  labels:
    app.kubernetes.io/name: generic-device-plugin
  name: generic-device-plugin
  namespace: kube-system
spec:
  podMetricsEndpoints:
  - interval: 15s
    port: http
    path: /metrics
  selector:
    matchLabels:
      app.kubernetes.io/name: generic-device-plugin
