apiVersion: v1
kind: PersistentVolume
metadata:
  name: games-pv
spec:
  accessModes:
    - ReadWriteMany
  capacity:
    storage: 100Gi
  persistentVolumeReclaimPolicy: Retain
  csi:
    driver: smb.csi.k8s.io
    readOnly: false
    volumeHandle: games-pv
    volumeAttributes:
      source: "//192.168.1.105/media/games"
    nodeStageSecretRef:
      name: smb-credentials
      namespace: infrastructure
  mountOptions:
    - rw
  volumeMode: Filesystem
