apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: HelmRepository
metadata:
  name: metallb
spec:
  interval: 24h
  url: https://metallb.github.io/metallb


---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: metallb
spec:
  interval: 5m
  chart:
    spec:
      chart: metallb
      sourceRef:
        kind: HelmRepository
        name: metallb
      interval: 5m
  values:
    prometheus:
      serviceMonitor:
        enabled: true
      rbacPrometheus: true
      #serviceAccount: "kube-prometheus-metallb"


---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: metallb
spec:
  addresses:
  - 192.168.0.201-192.168.0.210


---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: metallb
