# {{ ansible_managed }}
[Interface]
Address = 10.0.1.1/24
ListenPort = 51820
PrivateKey = {{ wireguard_private_key.stdout }}
PostUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -A FORWARD -o %i -j ACCEPT; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -D FORWARD -o %i -j ACCEPT; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE

# thenixbeast
[Peer]
PublicKey = 6k0dNktsh+bdsGtXT0s8YIeCdg66ZbA9mAMcdoqueRU=
AllowedIPs = 10.0.1.10

# nix-steamdeck
[Peer]
PublicKey = {{ lookup('env', 'WIREGUARD_STEAM_DECK_PUBLIC_KEY') }}
AllowedIPs = 10.0.1.11

# the-guide
[Peer]
PublicKey = zgzI2LKMaip1N9SbphIu5hLY24eaVdaGnNS+H0bD2Vc=
AllowedIPs = 10.0.1.12
