# {{ ansible_managed }}
[Interface]
Address = 10.0.1.1/24
ListenPort = 51820
PrivateKey = {{ wireguard_private_key.stdout }}
PostUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -A FORWARD -o %i -j ACCEPT; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -D FORWARD -o %i -j ACCEPT; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE

[Peer]
PublicKey = {{ lookup('env', 'WIREGUARD_MANJARO_PUBLIC_KEY') }}
AllowedIPs = 10.0.1.8

[Peer]
PublicKey = {{ lookup('env', 'WIREGUARD_THE_GUIDE_PUBLIC_KEY') }}
AllowedIPs = 10.0.1.9

[Peer]
PublicKey = {{ lookup('env', 'WIREGUARD_STEAM_DECK_PUBLIC_KEY') }}
AllowedIPs = 10.0.1.10
