[global]
   workgroup = WORKGROUP
   server string = Samba Server
   server role = standalone server
   min protocol = SMB2
   dos charset = cp850
   unix charset = ISO-8859-1
   # force user = sambauser
   guest account = nobody
   map to guest = Bad User
   log file = /var/log/samba/log.%m
   log level = 2
   max log size = 50
   load printers = no
   printing = bsd
   printcap name = /dev/null
   disable spoolss = yes

[media]
   # For use by guests, to be read-write but only for pubic files
   browseable = yes
   writeable = yes
   path = /mnt/storage/media
   guest ok = yes
   # guest only = yes
   force user = nobody
   force group = fileshare
   valid users = rancher nobody
   vfs objects = shadow_copy2
   shadow:snapdir = .zfs/snapshot
   shadow:sort = desc
   shadow:format = autosnap_%Y-%m-%d_%H:%M:%S

[filesync]
   browseable = yes
   writeable = yes
   path = /mnt/storage/filesync
   valid users = rancher
   vfs objects = shadow_copy2
   shadow:snapdir = .zfs/snapshot
   shadow:sort = desc
   shadow:format = autosnap_%Y-%m-%d_%H:%M:%S

[audio-rw]
   # For use by internal services, managing the audio folder
   browseable = yes
   writeable = yes
   path = /mnt/storage/media/audio
   valid users = rancher
   vfs objects = shadow_copy2
   shadow:snapdir = .zfs/snapshot
   shadow:sort = desc
   shadow:format = autosnap_%Y-%m-%d_%H:%M:%S

[photos]
   # For use by internal services, managing the photos folder
   # TODO: consider renaming to 'photos-rw'
   browseable = yes
   writeable = yes
   path = /mnt/storage/photos
   valid users = rancher
   vfs objects = shadow_copy2
   shadow:snapdir = .zfs/snapshot
   shadow:sort = desc
   shadow:format = autosnap_%Y-%m-%d_%H:%M:%S

[borg]
   browseable = yes
   writeable = yes
   path = /mnt/backups/borg
   valid users = rancher
