apiVersion: batch/v1
kind: CronJob
metadata:
  name: beets-import
spec:
  concurrencyPolicy: Forbid
  failedJobsHistoryLimit: 1
  successfulJobsHistoryLimit: 3
  schedule: "0 11 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: beets-import
              image: linuxserver/beets # {"$imagepolicy": "apps:beets"}
              command: ["beet"]
              args:
                - import
                - -q
                - -l
                - /audio/import/import.log
                - /audio/import
              volumeMounts:
                - name: config-volume
                  mountPath: /config/
                  readOnly: true
                - name: media-volume
                  mountPath: /audio/
                - name: library-volume
                  mountPath: /library/
          restartPolicy: OnFailure
          volumes:
            - name: config-volume
              configMap:
                name: beets-config-map
            - name: library-volume
              persistentVolumeClaim:
                claimName: beets-library-pvc
            - name: media-volume
              persistentVolumeClaim:
                claimName: audio-pvc
