hostname: vulcanus-rancheros
rancher:
  console: debian
  environment: 
    EXTRA_CMDLINE: /init
  services_include:
    kernel-headers-system-docker: true
    nfs: true
    volume-cifs: true
    volume-nfs: true
    zfs: true
  state:
    dev: LABEL=RANCHER_STATE
    wait: true
mounts:
  - ["//192.168.0.105/media", "/media/phoenix", "cifs", "rw,uid=1100,gid=1100,file_mode=0777,dir_mode=0777,username=rancher,password=rancher"]
  - ["//192.168.0.105/filesync", "/mnt/filesync", "cifs", "rw,uid=1100,gid=1100,file_mode=0777,dir_mode=0777,username=rancher,password=rancher"]
  - ["//192.168.0.105/photos", "/mnt/photos", "cifs", "rw,uid=1100,gid=1100,file_mode=0777,dir_mode=0777,username=rancher,password=rancher"]
  - ["//192.168.0.105/borg", "/mnt/borg", "cifs", "rw,uid=1100,gid=1100,file_mode=0777,dir_mode=0777,username=rancher,password=rancher"]
ssh_authorized_keys:
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDWBkOPbLUim060aoKvwzlWoU5pjcgeHdsfeyQQBQnrXUJ6Vi1uucMt0E4MsI9ZWyFkCKYRG6uhXvFCVu7NDVY+f5VFFyj05rtX2oT2aEfiW9C9DdTiPJzKJBCevLYLxFcFUnalRsmdf1GArZoaNm5TqHo37Cm690Lt8W8JMtmvRIOgewX9S+weWX9K0T5b25y51yr6rrNKkYe64ht+eCW/vFvHnxNEr+1y3HMGXA8nHOCOcaPlERFWvQFdB6L9I64F3Xpo1VmlJiJQtgS7HM0K/VsBhDglmd727kZo3EsotX/OKTUGymOW3AOgZxzWqqf3CfcTPql+e8Zxqcf0HoMp will@TheManjaroBeast 
