apiVersion: apps/v1
kind: Deployment
metadata:
  name: plex
  labels:
    app: plex
spec:
  selector:
    matchLabels:
      app: plex
  template:
    metadata:
      labels:
        app: plex
    spec:
      containers:
        - name: plex
          image: plexinc/pms-docker:1.32.4.7195-7c8f9d3b6 # {"$imagepolicy": "apps:plex"}
          env:
            - name: ADVERTISE_IP
              value: https://plex.immortalkeep.com/
          # TODO: forward 32400 port via Traefik, if necessary
          ports:
            - containerPort: 32400
          volumeMounts:
            - mountPath: /config
              name: config
            - mountPath: /data/movies
              name: video
              subPath: movies
              readOnly: true
            - mountPath: /data/music
              name: audio
              subPath: music
              readOnly: true
            - mountPath: /data/shows
              name: video
              subPath: shows
              readOnly: true
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: plex-config-pvc
        - name: audio
          persistentVolumeClaim:
            claimName: audio-pvc
        - name: video
          persistentVolumeClaim:
            claimName: video-pvc
