apiVersion: apps/v1
kind: Deployment
metadata:
  name: borgmatic
  labels:
    app: borgmatic
spec:
  selector:
    matchLabels:
      app: borgmatic
  template:
    metadata:
      labels:
        app: borgmatic
    spec:
      containers:
        - name: borgmatic
          image: b3vis/borgmatic:1.9.1 # {"$imagepolicy": "apps:borgmatic"}
          env:
            - name: BORG_PASSPHRASE
              valueFrom:
                secretKeyRef:
                  name: borg
                  key: password
          volumeMounts:
            - mountPath: /etc/borgmatic.d
              name: config
              readOnly: true
            - mountPath: /root/.config
              name: data
              subPath: .config/
            - mountPath: /root/.cache/borg
              name: data
              subPath: .cache/borg/
            - mountPath: /mnt/repositories
              name: repositories
            - mountPath: /mnt/audio
              name: audio
              readOnly: true
            - mountPath: /mnt/games
              name: games
              readOnly: true
            - mountPath: /mnt/photoprism
              name: photos
              subPath: photoprism/originals
              readOnly: true
            - mountPath: /mnt/salamander
              name: photos
              subPath: salamander/originals
              readOnly: true
            - mountPath: /mnt/syncthing
              name: syncthing
              readOnly: true
            - mountPath: /mnt/video
              name: video
              readOnly: true
      volumes:
        - name: config
          configMap:
            name: borgmatic
        - name: data
          persistentVolumeClaim:
            claimName: borgmatic-data-pvc
        - name: repositories
          persistentVolumeClaim:
            claimName: borg-backups-pvc
        - name: audio
          persistentVolumeClaim:
            claimName: audio-rw-pvc
        - name: games
          persistentVolumeClaim:
            claimName: games-pvc
        - name: photos
          persistentVolumeClaim:
            claimName: photos-pvc
        - name: syncthing
          persistentVolumeClaim:
            claimName: syncthing-pvc
        - name: video
          persistentVolumeClaim:
            claimName: video-pvc
