machine:
  install:
    disk: /dev/vda
  network:
    hostname: ${hostname}
  disks:
    - device: /dev/vdb
      partitions:
        - mountpoint: /var/openebs
#cluster:
#  apiServer:
#    disablePodSecurityPolicy: true
