apiVersion: apps/v1
kind: Deployment
metadata:
  name: podgrab
  labels:
    app: podgrab
spec:
  selector:
    matchLabels:
      app: podgrab
  template:
    metadata:
      labels:
        app: podgrab
    spec:
      containers:
        - name: podgrab
          image: akhilrex/podgrab  # {"$imagepolicy": "apps:podgrab"}
          ports:
            - containerPort: 8080
          volumeMounts:
            - mountPath: /config
              name: data
            - mountPath: /assets
              name: audio
              subPath: podcasts/
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: podgrab-data-pvc
        - name: audio
          persistentVolumeClaim:
            claimName: audio-pvc
